<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,852}</string>
                <key>spriteSourceSize</key>
                <string>{480,852}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{359,855},{9,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{51,39}</string>
                <key>textureRect</key>
                <string>{{306,855},{51,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy0_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{253,855},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,124}</string>
                <key>textureRect</key>
                <string>{{1,855},{100,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero1_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,124}</string>
                <key>spriteSourceSize</key>
                <string>{98,124}</string>
                <key>textureRect</key>
                <string>{{127,855},{98,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>imageAny.png</string>
            <key>size</key>
            <string>{482,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:567a5aa336f02452feadfe57513db398:92eb5662885102fd1a625d561d353797:2b244951b1e3f2345bce42860bc6762a$</string>
            <key>textureFileName</key>
            <string>imageAny.png</string>
        </dict>
    </dict>
</plist>
